.all-selection-container a {
  margin-right: 15px;
  cursor: pointer;
  font-weight: bold;
}

.bundle-selection fieldset .type-selection-handles {
  margin-top: 5px;
}

.bundle-selection fieldset .type-selection-handles a {
  font-weight: normal;
  margin-right: 10px;
  cursor: pointer;
}
