.view-entity-operation-logs .views-view-table tbody .views-field-diff .leo-expand-all {
  margin-right: 10px;
}

.view-entity-operation-logs .views-view-table tbody .views-field-diff ul {
  padding-left: 0;
  margin-left: 1em;
}

.view-entity-operation-logs .views-view-table tbody .views-field-diff ul li {
  list-style-type: none !important;
}

.view-entity-operation-logs .views-view-table tbody .views-field-diff ul li:before {
  content: "+";
  width: 8px;
  display: inline-block;
}

.view-entity-operation-logs .views-view-table tbody .views-field-diff ul li.open:before {
  content: "-";
}

.view-entity-operation-logs .views-view-table tbody .views-field-diff ul li>.property-content {
  display: none;
}

.view-entity-operation-logs .views-view-table tbody .views-field-diff ul li.open>.property-content {
  display: block;
}

.view-entity-operation-logs .views-view-table tbody .views-field-diff ul li>label {
  display: inline;
  font-weight: normal;
  font-style: italic;
  color: #939393;
}
