{% macro leo_render_tree_level(data, operation_label) %}

  {% if data.type == 'operation_layer' %}
    <ul>
      {% for row in data.content %}
        {{ _self.leo_render_tree_level(row, data.operation) }}
      {% endfor %}
    </ul>

  {% elseif data.type == 'property_layer' %}
    <li>
      <a href="#" class="leo-expand-handle">{{ data.property_key }}</a>
      <label>{{ operation_label }}</label>
      <div class="property-content">
        {% for row in data.property_value %}
          {{ _self.leo_render_tree_level(row) }}
        {% endfor %}
      </div>
    </li>

  {% elseif data.type == 'property_layer_plain' %}
    <li>
      <a href="#" class="leo-expand-handle">{{ data.property_key }}</a>
      <label>{{ operation_label }}</label>
      <div class="property-content">
        <ul>
          {% for row in data.property_value %}
            {{ _self.leo_render_tree_level(row) }}
          {% endfor %}
        </ul>
      </div>
    </li>

  {% elseif data.type == 'changed_table_layer' %}
    <table>
      <thead>
        <tr>
          <th>{{ "Old"|t }}</th>
          <th>{{ "New"|t }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% if data.old is not iterable %}
            <td>{{ data.old }}</td>
          {% else %}
            <td>{{ data.old|json_encode }}</td>
          {% endif %}
          {% if data.new is not iterable %}
            <td>{{ data.new }}</td>
          {% else %}
            <td>{{ data.new|json_encode }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>

  {% elseif data.type == 'value_layer' %}
    <table>
      <thead>
        <tr>
          <th>{{ "Field Name"|t }}</th>
          <th>{{ "Value"|t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in data.values %}
          <tr>
            <td>{{ key }}</td>
            {% if value is not iterable %}
              <td>{{ value }}</td>
            {% else %}
              <td>{{ value|json_encode }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% endif %}

{% endmacro %}

{# Check if data is plain text or an iterable object #}
{% if data is iterable %}
  <div class="leo-controls">
    <a href="#" class="leo-expand-all">{{ "Expand all"|t }}</a>
    <a href="#" class="leo-collapse-all">{{ "Collapse all"|t }}</a>
  </div>
  {# We want to remove the top layer and go straight into the operation layers #}
  {% for item in data %}
    {{ _self.leo_render_tree_level(item, null, true) }}
  {% endfor %}
{% else %}
  {{ data }}
{% endif %}

